<template id="login-template">
    <form id="f">
        <div class="container-fluid">
            <h1 class="text-center text-info">Dati</h1>
            <div class="form-group">
                <label for="usr">Username</label>
                <input type="text" name="usr" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" name="pwd" class="form-control" id="pwd">
            </div>
            <button name="Accedi" class="btn btn-default">Accedi</button>
            <button name="Registrati" class="btn btn-default">Vai a Registrati</button>
        </div>
    </form>
</template>
<script src="/components/Login/Login.js"></script>